html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.btn-style-fix{
  position: absolute;
  bottom: 0;
  margin-bottom: 0 !important;
}
.full-view-width{
  width: 100% !important;
  background-color: #f6f9fe;
  padding-top: 10px;
  display: block;
  text-align: center;
  margin-bottom: 10px;
}
.search-form-style{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 90%;
}
.table {
  border-collapse: separate;
  border-spacing:0 5px;
}
.table thead th{
  border-top: none !important;
}
.table thead tr{
  background-color: #f6f9fe;
}
.table td{
  border-top:none !important;
}
.table-striped tbody tr:nth-of-type(odd){
  background-color: #fdfcfc !important;
}
.table-striped tbody tr:nth-of-type(even){
  background-color: #fafafa !important;
}
.paginationmaincontainer{
  display: flex;
  justify-content: center;
}
.paginationcontainer {
  display: flex;
  list-style-type: none;
}
.paginationcontainer .paginationitem {
  padding: 0 12px;
  height: 32px;
  text-align: center;
  margin: auto 4px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  box-sizing: border-box;
  align-items: center;
  letter-spacing: 0.01071em;
  border-radius: 16px;
  line-height: 1.43;
  font-size: 13px;
  min-width: 32px;
}
.paginationcontainer .paginationitem.dots:hover {
  background-color: transparent;
  cursor: default;
}
.paginationcontainer .paginationitem:hover {
  background-color: rgba(0, 0, 0, 0.04);
  cursor: pointer;
}
.paginationcontainer .paginationitem.selected {
  background-color: rgba(0, 0, 0, 0.08);
}
.paginationcontainer .paginationitem .arrow::before {
  position: relative;
 /* top: 3pt;
  Uncomment this to lower the icons as requested in comments*/
  content: '';
 /* By using an em scale, the arrows will size with the font */
  display: inline-block;
  width: 0.4em;
  height: 0.4em;
  border-right: 0.12em solid rgba(0, 0, 0, 0.87);
  border-top: 0.12em solid rgba(0, 0, 0, 0.87);
}
.paginationcontainer .paginationitem .arrow.left {
  transform: rotate(-135deg) translate(-50%);
}
.paginationcontainer .paginationitem .arrow.right {
  transform: rotate(45deg);
}
.paginationcontainer .paginationitem.disabled {
  pointer-events: none;
}
.paginationcontainer .paginationitem.disabled .arrow::before {
  border-right: 0.12em solid rgba(0, 0, 0, 0.43);
  border-top: 0.12em solid rgba(0, 0, 0, 0.43);
}

.paginationcontainer button.paginationitem, button.paginationitem:hover {
  background-color: transparent;
  border: none;
}


